<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verifySignIn</servlet-name>
        <servlet-class>verifySignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinnow</servlet-name>
        <servlet-class>joinnow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDP</servlet-name>
        <servlet-class>UploadDP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCrDp</servlet-name>
        <servlet-class>addCrDp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPost</servlet-name>
        <servlet-class>editPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend</servlet-name>
        <servlet-class>addFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unFriend</servlet-name>
        <servlet-class>unFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>like_comment</servlet-name>
        <servlet-class>like_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sort</servlet-name>
        <servlet-class>sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel</servlet-name>
        <servlet-class>cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageRequest</servlet-name>
        <servlet-class>manageRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptRequest</servlet-name>
        <servlet-class>acceptRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetVisits</servlet-name>
        <servlet-class>resetVisits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delMsgs</servlet-name>
        <servlet-class>delMsgs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delAccount</servlet-name>
        <servlet-class>delAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verifySignIn</servlet-name>
        <url-pattern>/verifySignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinnow</servlet-name>
        <url-pattern>/joinnow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDP</servlet-name>
        <url-pattern>/UploadDP</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
           C:\Users\ch\Desktop\friendlink\Site1\web\images\
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>addCrDp</servlet-name>
        <url-pattern>/addCrDp</url-pattern>3
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPost</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unFriend</servlet-name>
        <url-pattern>/unFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>like_comment</servlet-name>
        <url-pattern>/like_comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageRequest</servlet-name>
        <url-pattern>/manageRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptRequest</servlet-name>
        <url-pattern>/acceptRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetVisits</servlet-name>
        <url-pattern>/resetVisits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delMsgs</servlet-name>
        <url-pattern>/delMsgs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delAccount</servlet-name>
        <url-pattern>/delAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
